.home{
    @apply bg-gray-200 flex flex-col items-center px-2 lg:px-8 bg-prefered-black h-full;
    // min-height: 90vh;

.para-text{
    @apply text-sm mt-4 md:mt-0 font-medium text-center text-prefered-white leading-tight lg:text-lg w-full ;
}

.code-editor{
    @apply col-span-full lg:col-span-8 w-full row-span-5 mt-0  flex flex-col justify-between;
}

.code-area{
    @apply  border border-transparent rounded-xl ring-1 ring-gray-400 p-2 bg-prefered-dark text-prefered-white;
    @apply focus-within:ring-4 focus-within:ring-gray-500 focus-within:border-transparent;
    @apply grid grid-cols-10 grid-rows-7 content-between lg:grid-rows-1 w-full p-1 md:p-2 lg:p-4;
    // min-height:70vh;
    height: auto;
}

.code-text{
    font-weight: 400;
    @apply border border-transparent rounded-xl p-0 bg-prefered-dark text-prefered-neon focus:outline-none;
    @apply resize-none w-full h-4/5 sm:h-90p p-1;
    @apply text-xs sm:text-sm md:text-base;
    font-family: 'Source Code Pro', monospace;
}

.code-options-area{
    @apply col-span-full lg:col-span-2 grid grid-cols-8 lg:grid-cols-5 gap-2 lg:gap-3 h-1/6 row-span-2 pt-0 lg:px-1 mt-0;
}

.code-buttons{
    @apply bg-prefered-shade1 font-medium text-prefered-black h-10 rounded-lg text-xs sm:text-sm lg:text-base focus:outline-none hover:bg-prefered-shade3 hover:text-prefered-light col-span-2 lg:col-span-full	;
}

}

.textarea{
    font-weight: 400;
    @apply border-b-2 lg:border-b-0 lg:border-r-2 border-prefered-light p-5 text-prefered-neon focus:outline-none;
    @apply resize-none w-full lg:w-4/5 h-4/6 lg:h-full;
    @apply text-sm md:text-base;
    font-family: 'Source Code Pro', monospace;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-prefered-shade3 rounded-full;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-prefered-neon rounded-full
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-prefered-light cursor-auto;
  }